/* === COLOR THEME defined through CSS custom properties ===*/
// Sass Variables and Functions are only used here

$primary: #414bb2;
$primary-light: #8559da;
$primary-dark: #140078;

$secondary: #00796b;
$secondary-light: #48a999;
$secondary-dark: #004c40;

$light-gray: #f8f9fa;
$dark-gray: #424242;

:root {
  --light-fg: white;
  --dark-fg: black;

  // any default container for text
  --default-bg: #{$light-gray};
  --default-fg: var(--dark-fg);
  --default-divider: rgba(0, 0, 0, 0.12);

  // primary visual highlight color
  --primary: #{$primary};
  --primary-shade: #{$primary-dark};
  --primary-fg: var(--light-fg);

  // secondary visual highlight color
  --secondary: #{$secondary};
  --secondary-shade: #{$secondary-light};
  --secondary-fg: var(--light-fg);
}

// in dark mode, some colors are adjusted
.dark-mode {
  --default-bg: #{$dark-gray};
  --default-fg: var(--light-fg);
  --default-divider: rgba(255, 255, 255, 0.12);

  --primary-shade: #{$primary-dark};
}

/* === GLOBAL PAGE Style === */

html, body {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-family: Helvetica, sans-serif;

  background-color: var(--default-bg);
  color: var(--default-fg);
}
